.main-container-administracion{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(173, 165, 165);
}
.admin-pop-up-container{
    width: 100%;
    height: 100%;
    position: absolute;
}
.admin-pop-up-container-deactivated{
    display: none;
}
.topBar{
    height: 8%;
    display: flex;
    align-items: center;
    background-color: #21232A;
    padding: 1rem;
    border-bottom: 1px solid white;
}
.topBar h1{
    margin-left: 1rem;
}
.topBar button{
    background-color: "white";
    color:"black";
    width: 5rem;
    height: 2.2rem;
}
.board{
    display: flex;
    width: 100%;
    height: 89%;
    background-color: #21232A;
}
.sideBar{
    width: 20%;
    height: 90%;
    background-color: #21232A;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-right: 1px solid white;
}
.buttonsSideBar{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.buttonsSideBar button{
    font-size: 1rem;
    background-color: transparent;
    border: none;
    padding: 1rem;
    color: white;
}
.buttonsSideBar button:hover{
    cursor: pointer;
    border-bottom: 1px solid white;

}
.itemMenu{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(192, 189, 189);
    overflow: auto;
}
.itemMenu button{
    padding: 0.6rem;
    width: 10rem;
    align-self: flex-end;
    margin: 0.5rem;
    color: white;
    background-color: #21232A;
    border-radius: 0.4rem;
    border: none;
}
.Items{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    overflow: auto;
    
}
.categoriaContainer{
    display: flex;
    flex-direction: column;

}
.categoria{
    list-style: none;
    padding: 1rem;
    width: 75%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    border-bottom: 1px solid black;
    margin-left: 0.3rem;
}
.subcategorias{
    opacity: 1;
    max-height: 100vh; /* Set a large max-height to allow expansion */
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    display: flex;
    flex-direction: column;
}
.subcategorias span{
    margin-left: 2rem;
}
.notDisplayed{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    
}
@media (min-width: 768px){
    .sideBar{
        text-align: center;
    }
    .categoria{
        width: 80%;
    }
    .subcategorias span{
        margin-left: 4rem;
    }
}
@media (min-width: 1200px){
    .sideBar{
        width: 15%;
    }
    .itemMenu{
        width: 85%;
    }
    .categoria{
        width: 85%;
        margin-left: 2rem;
    }
    .subcategorias span{
        margin-left: 6rem;
    }
}