.main-container-administracion{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(255, 254, 254);
}
.admin-pop-up-container{
    width: 100%;
    height: 100%;
    position: absolute;
}
.admin-pop-up-container-deactivated{
    display: none;
}
.topBar{
    height: 8%;
    display: flex;
    align-items: center;
    background-color: #35447a;
    padding: 1rem;
    border-bottom: 1px solid white;
}
.topBar h1{
    margin-top: 1rem;
    margin-left: 1rem;
}

.topBar button{
    background-color: "white";
    color:"black";
    width: 5rem;
    height: 2.2rem;
}
.board{
    display: flex;
    width: 100%;
    height: 89%;
    background-color: #35447a;
}
.sideBar{
    width: 20%;
    height: 90%;
    background-color: #35447a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-right: 1px solid white;
}
.buttonsSideBar{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.notActive{
    font-size: 1rem;
    background-color: transparent;
    border: none;
    padding: 1rem;
    color: white;
}
.activeFilter{
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid white;
    padding: 1rem;
    color: white;
}
.buttonsSideBar button:hover{
    cursor: pointer;
    border-bottom: 1px solid white;

}
.itemMenu{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}
.itemMenu button{
    padding: 0.6rem;
    width: 10rem;
    align-self: flex-end;
    margin: 0.5rem;
    color: white;
    background-color: #1d2a35;
    border-radius: 0.4rem;
    border: none;
}
.Items{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: transparent;
    overflow: auto;
    
}
.categoryContainer{
    display: flex;
    flex-direction: column;
    margin: none;
}
.categoria{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.categoriaPadreContainer{
    padding: 1rem;
    list-style: none;
    padding: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1d2a35;
    color: white;
    margin-bottom: 1rem;
    margin-left: 0.3rem;
    border-radius: .5rem;
}
.categoriaInfo{
    display: flex;
    justify-content: space-between;
    align-items: centers;
}
.subcategoria{
    list-style: none;
    padding: 1rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: #1d2a35;
    color: white;
    margin-bottom: 1rem;
    margin-left: 0.3rem; 
}
.subcategorias{
    opacity: 1;
    max-height: 100vh;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    display: flex;
    flex-direction: column;
    
}
.subcategorias span{
    margin-left: 2rem;
    border-bottom: 1px solid white;
}
.notDisplayed{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}
.info{
    display: none;
}
.notDisplayMainContainerProduct{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}
.mainContainerProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoPhone{
    opacity: 1;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-right: .1rem;
    padding: 0.2rem;
}
.infoProductPhone{
    border-bottom: #1d2a35 1px solid;
    padding: 0.7rem;
    width: 100%;
}
.buttonsProduct{
    display: flex;
    padding: 0.2rem;
    width: 20%;
    justify-content: space-between;
}
@media (min-width: 768px){
    .sideBar{
        text-align: center;
    }
    .categoria{
        width: 80%;
    }
    .subcategorias span{
        margin-left: 4rem;
    }
    .infoPhone{
        display: none;
    }
    .infoProductPhone{
        display: none;
    }
    .notDisplayMainContainerProduct{
        display: none;
    }
    .Items{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        background-color: transparent;
        overflow: auto; 
    }
    .categoryContainer{
        display: flex;
        flex-direction: column;
        margin: none;
    }
    .categoriaPadreContainer{
        padding: 0px;
        width: 100;
    }
    .categoriaInfo{
        padding: 0px;
        justify-content: space-around;
    }
    .info{
        display: flex;
        align-items: center;
        width: 100%;
        height: 20%;
        padding: .5rem;
    }
    .infoProduct{
        padding: .4rem;
        align-self: center;
        border-right: white 1px solid;
        width: 25%;
        height: 100%;
    }
    .buttonsProduct{
        align-self: center;
        width: 10%;
    }
    .mainContainerProduct{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
@media (min-width: 1200px){
    .sideBar{
        width: 15%;
    }
    .itemMenu{
        width: 85%;
    }
    .categoria{
        width: 85%;
        margin-left: 2rem;
    }
    .subcategorias span{
        margin-left: 6rem;
    }
}