.addEditEmpresaContainer{
    top: 5%;
    left: 30%;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 0.5rem;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 5%;
    height: 80%;
    width: 45%;
}
.form-container{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.col{
    width: 80%;

}
#isNotWrong{
    width: 100%;
    padding: 0.6rem;
    border: 0.1rem black solid;
    border-radius: 0.2rem;
    width: 80%;
}
#isWrong{
    width: 100%;
    padding: 0.6rem;
    border-radius: 0.2rem;
    width: 80%;
    border: 1px solid red;
    color: white;
    background-color: rgba(230, 68, 68, 0.822);
}
.errorMessagge{
    padding: .6rem;
    width: 80%;
    height: 10vh;
    color: white;
    border: 1px solid red;
    background-color: rgba(230, 68, 68, 0.822);
    border-radius: 0.5rem;
}
.noErrors{
    display: none;
}
.buttonEmpresa{

    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
@media (min-width: 768px){
    .addEditEmpresaContainer{
        left: 30%;
        width: 40%;
    }
@media (min-width: 1200px){
     .addEditEmpresaContainer{
        width: 35%;
        left: 27%;
     }
}
}