.detailsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vh;
    height: 40vh;
    padding: 0.3rem;
    background-color: #ffffff;
    border-radius: 0.6rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    font-size: 2.25vh;
    color: white;
}
.detailsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 70%;
    padding: 0.3rem;
    background-color: #1d2a35;
    border-radius: 0.6rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    font-size: 2.25vh;
    color: whites;
    padding: 1rem;

}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.imagenContainer {
    height: 40%; 
    width: 40%;
    overflow: hidden;
}

.imagen {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    width: 100%;
    padding-top: 1rem;;
}
.text span{
    padding: .6rem;
    border: 1px solid #ffff ;
    border-radius: .4rem;

}

@media (min-width: 768px){
    .detailsContainer {
        width: 40%;
        height: 50%;
    }
}
@media (min-width: 1200px){
    .detailsContainer {
        width: 30%;
        height: 40%;
    }
}