.addEditSucursalContainer{
    position: absolute;
    top: 1%;
    left: 25%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 0.5rem;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 3rem;
    height: 80%;
    width: 50%;
    
}
.form-container{
    height: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: auto;
}
.bloqueInfomation{
    display: flex;
    flex-direction: column;
}
.col{
    width: 80%;
}
.form-element-img{
    height: 6vh;
    
}
#isNotWrong{
    width: 100%;
    padding: 0.4rem;
    border: 0.1rem black solid;
    border-radius: 0.2rem;
}
#isWrong{
    width: 100%;
    padding: 0.4rem;
    border-radius: 0.2rem;
    border: 1px solid red;
    color: white;
    background-color: rgba(230, 68, 68, 0.822);
}
.isNotWrongSelect{
    width: 80%;
    padding: 0.4rem;
    border: 1px white solid;
    border-radius: 0.4rem;
    background-color: #21232A;
    color: white;
}
.isWrongSelect{
    width: 80%;
    padding: 0.4rem;
    border: 1px solid red;
    border-radius: 0.4rem;
    background-color: rgba(230, 68, 68, 0.822);
    color: white;
}
.bloqueInfomation select{
    width: 80%;
    padding: 0.4rem;
    border: 1px white solid;
    border-radius: 0.4rem;
    background-color: #21232A;
    color: white;
}
.button{
    width: 80%;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.errorMessagge{
    padding: .6rem;
    width: 80%;
    height: 10vh;
    color: white;
    border: 1px solid red;
    background-color: rgba(230, 68, 68, 0.822);
    border-radius: 0.5rem;
}
.noErrors{
    display: none;
}
@media (min-width: 768px){
    .addEditSucursalContainer{
        position: absolute;
        top: 5%;
        left: 15%;
        display: flex;
        justify-content: center;
        border: 1px solid black;
        border-radius: 0.5rem;
        align-items: center;
        flex-direction: column;
        background-color: white;
        color: black;
        padding: 2rem;
        height: 82%;
        width: 70%;
    }
    .bloqueInfomation{
        height: 100%;
        display: flex;
        flex-direction:row ;
        align-items: center;
        
    }
    .information{
        display: flex;
        flex-direction:row ;
        max-height: 100%;
    }
    .bloqueInfomation{
        display: flex;
        flex-direction: column;
    }
@media (min-width: 1200px){
        
}
}
